<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<header>
  <% include ../helpers/navbar %>
</header>


<body class="guanyuzhangxiaoyan">

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>  </h1>
  </div>

  <p id="demo" style="background-color:black;">
    毕业于浙江大学医学部(原浙江医科大学)
  </p>

  <!-- <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/> -->

</body>

</html>