<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<header>
  <% include ../helpers/navbar %>
</header>

<body class="shouye">

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
    <h1>Welcome</h1>
  </div>

  <p id="demo" style="
  font-family: '文泉驿微米黑';
  font-size: 50px;
  color: cadetblue;
  
  
  ">
    张晓燕的个人主页
  </p>

  <!-- <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/> -->

</body>

</html>