<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<header>
  <% include ../helpers/navbar %>
</header>


<body class="zhuanjiamenzhen">

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>首席专家门诊安排</h1>
    
  </div>

  <p id="demo">
  <br>地点：富阳区人民医院</br>
  <br>周一 8:00-11:30</br>
  周二 8:00-11:30</br>
  周三 8:00-11:30</br>
  周四 8:00-11:30</br>
  周五 8:00-11:30</br>
  </p>

  <!-- <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/> -->

</body>

</html>